.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

.education-list {
  list-style: none;
}

.other-list {
  list-style: circle;
}

.link {
  color: rgb(33, 37, 41);
  text-decoration: none;
}
